<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action= "/create">
    <div>
        <label for  = "firstname">FirstName&nbsp: </label>
        <input name = "firstname" type="text">
    </div>

    <div>
        <label for = "lastname">LastName&nbsp:  </label>
        <input name = "lastname" type="text">
    </div>

    <div>
        <label for = "userid">UserID&nbsp: </label>
        <input name = "userid" type="text">
    </div>

     <div>
        <label for = "password">Password&nbsp: </label>
        <input name="password" type="password">
    </div>


     <div>
        <label for = "email">Email&nbsp: </label>
        <input name="email" type="text">
    </div>

    <div>
        <button name="Submit"> Submit </button>
    </div>

</form>
</body>
</html>